@{
    ViewData["Title"] = "Perfil";
}
<div class="text-center">
    <h3 class="display-4"><FONT COLOR="white">¡Datos personales!</FONT></h3>
</div>
<div class="text-left">
<button type="button" class="btn btn-primary btn-lg btn-block">Introducción personal:</button>
</div>
<div class="alert alert-danger" role="alert">
<h5>Soy Yosselin Flores, tengo 21 años, soy egresada de Profesorado en Lenguaje y Literatura y actualmente soy estudiante de Ingenieria en Sistemas y Redes Informáticas, me apasiona la lectura y me gusta practicar deportes.</h5>
</div>

<div class="text-left">
<h4><span class="badge badge-info"><strong>Nombre completo:</strong></span><FONT COLOR="white"> Yosselin Roxana Flores García</FONT></h4>
</div>
<div class="text-left">
<h4><span class="badge badge-info"><strong>Genero:</strong></span><FONT COLOR="white"> Femenino</FONT></h4>
</div>
<div class="text-left">
<h5><button type="button" class="btn btn-outline-success"><strong><FONT COLOR= "#96E93D">Estudios realizados:</FONT></strong></button> <FONT COLOR="white">Profesorado en Lenguaje y Literatura.</FONT></h5>
</div>
<div class="text-left">
<h5><button type="button" class="btn btn-outline-success"><strong><FONT COLOR= "#96E93D">Correo:</FONT></strong></button> <FONT COLOR="white">yoshy.floresg17@gmail.com</FONT></h5>
</div>
<div class="text-left">
<h5><FONT COLOR="pink"><strong>Número: </strong> </FONT><FONT COLOR="white"> 7002-0601</FONT></h5>  
</div>
<div class="text-center">
<img src= "https://scontent.fsal7-1.fna.fbcdn.net/v/t1.6435-9/205513768_3032942630164197_3955538504691906027_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=21lkTjorO6sAX_BJxHy&_nc_ht=scontent.fsal7-1.fna&oh=bbf27fe8d34a023bcab2da5112f6051d&oe=61A2A9E3" width= "300" height="300"></img>
</div>
<body background= "https://us.123rf.com/450wm/kraft2727/kraft27271804/kraft2727180400011/99865344-fondo-p%C3%BArpura-abstracto-de-una-galaxia-fondo-de-la-ilustraci%C3%B3n-del-arte-del-vector-.jpg?ver=6">
</body>